.container {
    display: flex;
    width: 400px;
    height: 600px;
    flex-direction: column;
}

.display {
    width: 100%;
    height: 100px;
    background-color: grey;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    width: 100%;
    background-color: black;
    display: flex;
}

.row-1 button, .row-2 button, .row-3 button, .row-4 button {
    width: 25%;
}

.row-5 .number {
    width: 50%;

}

.decimal, .equals {
    width: 25%;
}

